{% extends "base.html" %}

{% block content %}
<div class="profile-container">
    <div class="profile-card">
        <h1>Change Password</h1>

        <form method="post">
            {% csrf_token %}

            {{ form.as_p }}

            <div class="form-actions">
                <button type="submit" class="btn">
                    Change password
                </button>

                <a href="{% url 'user:account-settings' %}" class="btn secondary">
                    Cancel
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
