{% extends "base.html" %}

{% block content %}
    <h1>Your meetings</h1>

    {% for meeting in meetings %}
        <div>
            <h2>
                <a href="{% url 'meeting:detail-meeting' meeting.id %}">
                    {{ meeting.title }}
                </a>
            </h2>

            <p>{{ meeting.description }}</p>
            <p>{{ meeting.started_at }}</p>

            <a href="{% url 'meeting:edit-meeting' meeting.id %}">Edit</a>
            <a href="{% url 'meeting:delete-meeting' meeting.id %}">Delete</a>
        </div>
    {% empty %}
        <p>No meetings yet.</p>
    {% endfor %}
{% endblock %}