{% extends "base.html" %}

{% block content %}
    <h1>Your meetings</h1>

    {% for meeting in meetings %}
        <div class="meeting-card">
            <h2>
                <a href="{% url 'meeting:detail-meeting' meeting.id %}">
                    {{ meeting.title }}
                </a>
                {% if meeting.room_unread_count %}
                    <span class="notification-badge">{{ meeting.room_unread_count }}</span>
                {% endif %}
            </h2>

            <p>{{ meeting.description }}</p>
            <p>Meeting Organizer: {{ meeting.organizer.name }}</p>
            <p>Starting at: {{ meeting.started_at }}</p>
            <p>Ending at: {{ meeting.ended_at }}</p>

            {% if meeting.organizer == user %}
                <div class="meeting-actions">
                    <a href="{% url 'meeting:edit-meeting' meeting.id %}" class="action-btn edit-btn">
                        Edit
                    </a>

                    <a href="{% url 'meeting:delete-meeting' meeting.id %}" class="action-btn delete-btn">
                        Delete
                    </a>

                    <a href="{% url 'meeting:invite-participant' meeting.id %}" class="action-btn invite-btn">
                        Invite participant
                    </a>
                </div>
            {% endif %}
        </div>
    {% empty %}
        <p>No meetings yet.</p>
    {% endfor %}
{% endblock %}
